/* normal css*/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* typography */

:root {
  --color-primary: #1d65a6;
  --color-secondary: #01acca;
  --color-tertiary: #f2a104;
  --color-headings: #192e5b;
  --color-body: #918ca4;
  --color-body-darker: #5b5477;
  --color-white: #fff;
  --border-radius: 10px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }
}

/* links */

a {
  text-decoration: none;
}

/* badges */

.badge {
  border-radius: var(--border-radius);
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.badge--secondary {
  background: var(--color-secondary);
  color: var(--color-white);
}

.badge--samll {
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--samll {
    font-size: 1.2rem;
  }
}

/* lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list__inline {
  display: inline-block;
  margin-right: 2rem;
}

/* icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--star {
  width: 16px;
  height: 16px;
}

.icon--rupee {
  width: 25px;
  height: 25px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  background: #f2f7f8;
  height: 62px;
  width: 62px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* buttons */

.btn {
  border-radius: var(--border-radius);
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  text-transform: uppercase;
}

.btn-primary {
  background: var(--color-primary);
}
.btn-info {
  background: var(--color-secondary);
}
.btn-warning {
  background: var(--color-tertiary);
}

.btn-outline-primary {
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* inputs */

.form-control {
  border-radius: var(--border-radius);
  font-size: 2rem;
  width: auto;
  margin: 1rem 0;
}

@media screen and (min-width: 1024px) {
  .form-control {
    font-size: 1.5rem;
  }
}

/* cards */
.card {
  border-radius: 30px;
  width: 28rem;
  margin: 4rem;
  overflow: hidden;
  position: relative;
}

.card--primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.card--secondary {
  background: var(--color-secondary);
  color: var(--color-white);
}

.card__name {
  font-size: 3rem;
  font-weight: 700;
  white-space: nowrap;
}
.card__place {
  font-size: 2rem;
  font-weight: 400;
  white-space: nowrap;
}

.card__price {
  font-size: 2rem;
  font-weight: 900;
  white-space: nowrap;
}

.card__rating,
.card__reviews {
  font-weight: 500;
  text-align: center;
}

.card__reviews__count {
  text-align: center;
  font-weight: 700;
}

.card .card--popular::before {
  content: url(/images/badge.png);
  position: absolute;
  top: 0;
  right: 5%;
}

@media screen and (min-width: 1024px) {
  .card__name {
    font-size: 2.5rem;
  }

  .card__price,
  .card__place {
    font-size: 1.5rem;
  }
}

/* testimonials */

.testimonial {
  padding: 3rem;
}

.testimonial__image {
  width: 100%;
  border-radius: 30px;
  height: 400px;
}

.quote {
  font-style: italic;
  font-size: 3rem;
  line-height: 1.2;
  color: var(--color-body-darker);
}

.quote__author {
  font-size: 3rem;
  font-weight: 500;
}

.quote__place {
  font-size: 2rem;
  font-weight: 400;
}

.quote::before {
  content: open-quote;
}
.quote::after {
  content: close-quote;
}

.quote--icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
    color: var(--color-body-darker);
  }
  .quote__author {
    font-size: 2.4rem;
  }

  .quote__place {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 576px) {
  .quote {
    font-size: 2rem;
    color: var(--color-body-darker);
  }
  .quote__author {
    font-size: 1.6rem;
  }

  .quote__place {
    font-size: 1.2rem;
  }
  .testimonial {
    padding: 0;
  }

  .quote--icon {
    width: 20px;
    height: 20px;
  }
}
