<div class="card shadow">
  <img
    src="images/rahul-pandit-_wiU46zku8g-unsplash.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body card--secondary">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
</div>
<div class="card shadow">
  <img
    src="images/rahul-pandit-_wiU46zku8g-unsplash.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body card--primary">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
  </div>
</div>
