<footer class="footer">
  <section class="row justify-content-center">
    <div class="col col-md-auto"><a href="">About us</a></div>
    <div class="col col-md-auto"><a href="">Privacy</a></div>
  </section>
  <section class="row justify-content-center mt-5">
    <div class="col col-md-auto">
      <a href="">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#facebook"></use>
        </svg>
      </a>
    </div>
    <div class="col col-md-auto">
      <a href="">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#twitter"></use>
        </svg>
      </a>
    </div>
    <div class="col col-md-auto">
      <a href="">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#whatsapp"></use>
        </svg>
      </a>
    </div>
  </section>
  <section class="row">
    <div class="col footer__copyright">Copyright 2021 Your Guide</div>
  </section>
</footer>
