<section class="container">
  <div class="row">
    <div class="col">
      <div class="card guide--plans shadow">
        <img
          src="images/rahul-pandit-_wiU46zku8g-unsplash.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body card--secondary">
          <div class="row">
            <div class="col">
              <span class="card__name">Aabha</span>
              <span class="card__place">Pune, India</span>
            </div>
            <div class="col">
              <span class="card__price">
                <svg class="icon icon--rupee">
                  <use xlink:href="images/sprite.svg#rupee-sign"></use>
                </svg>
                2000/h
              </span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="card__rating">Rating</div>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star-fill"></use>
              </svg>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star-fill"></use>
              </svg>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star-fill"></use>
              </svg>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star-half"></use>
              </svg>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="col">
              <div class="card__reviews">Reviews</div>
              <div class="card__reviews__count">21</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card guide--plans guide--popular shadow">
        <img
          src="images/rahul-pandit-_wiU46zku8g-unsplash.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body card--primary card--popular">
          <div class="row">
            <div class="col">
              <span class="card__name">Aabha</span>
              <span class="card__place">Pune, India</span>
            </div>
            <div class="col">
              <span class="card__price">
                <svg class="icon icon--rupee">
                  <use xlink:href="images/sprite.svg#rupee-sign"></use>
                </svg>
                2000/h
              </span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="card__rating">Rating</div>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star-fill"></use>
              </svg>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star-fill"></use>
              </svg>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star-fill"></use>
              </svg>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star-half"></use>
              </svg>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="col">
              <div class="card__reviews">Reviews</div>
              <div class="card__reviews__count">21</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card guide--plans shadow">
        <img
          src="images/rahul-pandit-_wiU46zku8g-unsplash.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body card--secondary">
          <div class="row">
            <div class="col">
              <span class="card__name">Aabha</span>
              <span class="card__place">Pune, India</span>
            </div>
            <div class="col">
              <span class="card__price">
                <svg class="icon icon--rupee">
                  <use xlink:href="images/sprite.svg#rupee-sign"></use>
                </svg>
                2000/h
              </span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="card__rating">Rating</div>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star-fill"></use>
              </svg>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star-fill"></use>
              </svg>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star-fill"></use>
              </svg>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star-half"></use>
              </svg>
              <svg class="icon--star">
                <use xlink:href="images/sprite.svg#star"></use>
              </svg>
            </div>
            <div class="col">
              <div class="card__reviews">Reviews</div>
              <div class="card__reviews__count">21</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
