<section class="container-fluid mt-5">
  <div class="row">
    <div class="col-md">
      <header class="hero__content">
        <h2>Find a Guide to Show You Around</h2>

        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control shadow-lg border-0"
            placeholder="Where Next?"
          />
          <div class="input-group-append">
            <button class="btn btn-primary shadow-lg" type="button">
              <svg class="icon">
                <use xlink:href="images/sprite.svg#search"></use>
              </svg>
              Search
            </button>
          </div>
        </div>
      </header>
    </div>
    <div class="col-md">
      <img class="hero__image" src="images/eiffel-tower.png" alt="" />
    </div>
  </div>
</section>
