<nav class="navbar navbar-expand-lg navbar-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand website--name" href="#">Your Guide</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <div class="card nav--bar--card shadow">
      <img
        src="images/rahul-pandit-_wiU46zku8g-unsplash.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body card--primary card--popular">
        <div class="row">
          <div class="col">
            <span class="card__name">Aabha</span>
            <span class="card__place">Pune, India</span>
          </div>
          <div class="col">
            <span class="card__price">
              <svg class="icon icon--rupee">
                <use xlink:href="images/sprite.svg#rupee-sign"></use>
              </svg>
              2000/h
            </span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="card__rating">Rating</div>
            <svg class="icon--star">
              <use xlink:href="images/sprite.svg#star-fill"></use>
            </svg>
            <svg class="icon--star">
              <use xlink:href="images/sprite.svg#star-fill"></use>
            </svg>
            <svg class="icon--star">
              <use xlink:href="images/sprite.svg#star-fill"></use>
            </svg>
            <svg class="icon--star">
              <use xlink:href="images/sprite.svg#star-half"></use>
            </svg>
            <svg class="icon--star">
              <use xlink:href="images/sprite.svg#star"></use>
            </svg>
          </div>
          <div class="col">
            <div class="card__reviews">Reviews</div>
            <div class="card__reviews__count">21</div>
          </div>
        </div>
      </div>
    </div>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav--bar--center">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Privacy</a>
      </li>
    </ul>

    <button
      class="btn btn-outline-primary my-2 my-sm-0 mr-5 nav--bar--center"
      type="submit"
      data-toggle="modal"
      data-target="#loginModal"
    >
      Log in
    </button>
    <a href="register.html">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">
        Register
      </button>
    </a>
  </div>
</nav>
