<section class="container">
  <div class="row shadow testimonial">
    <div class="col-md">
      <img
        src="images/rahul-pandit-_wiU46zku8g-unsplash.jpg"
        alt="A tour guide image"
        class="testimonial__image"
      />
    </div>
    <div class="col-md mt-5 ml-5">
      <p class="quote">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed maiores
        suscipit repellat dignissimos aliquid rem facere ea voluptates at
        expedita.
      </p>
      <div class="media">
        <svg class="icon quote--icon mr-3 mt-3">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
        <div class="media-body">
          <h3 class="mb-0 quote__author">Aabha Patil</h3>
          <p class="quote__place">Pune, India</p>
        </div>
      </div>
    </div>
  </div>
</section>
